/* Added Project */
.form-added {
  display: flex;
  justify-content: center;
  margin: 100px;
  padding: 20px;
}

.form-added form h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.form-added .project-name,
.date,
.description,
.technologies,
.upload-image {
  margin: 10px;
}

.form-added .project-name label {
  font-size: 20px;
  font-weight: 200;
}

.form-added .project-name input {
  padding: 8px;
  width: 100%;
  background-color: #cecece;
  border: none;
  border-radius: 8px;
}

.form-added .date {
  display: flex;
}

.form-added .date .input-start-date {
  flex: 50%;
}

.form-added .date .input-end-date {
  flex: 50%;
}

.form-added .date label {
  font-size: 20px;
  font-weight: 200;
}

.form-added .date input {
  padding: 8px;
  width: 90%;
  background-color: #cecece;
  border: none;
  border-radius: 8px;
}

.form-added .date .input-end-date input {
  width: 100%;
}

.form-added .description label {
  font-size: 20px;
  font-weight: 200;
}

.form-added .description textarea {
  height: 250px;
  width: 103%;
  border: none;
  border-radius: 8px;
  background-color: #cecece;
  resize: none;
}

.form-added .technologies .tech1 {
  display: flex;
  flex: 50%;
  margin-right: 50px;
}

.form-added .technologies .tech2 {
  display: flex;
  flex: 50%;
  margin-right: 50px;
}

.form-added .technologies label {
  font-size: 20px;
  font-weight: 200;
}

.form-added .technologies .tech1 label {
  padding-right: 4px;
}

.form-added .technologies .tech1 input,
.tech2 input {
  margin-right: 20px;
}

.form-added .technologies .tech1 label,
.tech2 label {
  margin-right: 20px;
}

.form-added .upload-image label {
  font-size: 20px;
  font-weight: 200;
}

.form-added .upload-image .input-image label p {
  font-size: 15px;
}

.form-added .upload-image .input-image label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-added .upload-image .input-image {
  width: 102%;
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #cecece;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
}

.form-added .upload-image .input-image i {
  width: 8%;
}

.form-added .button-submit {
  display: flex;
  justify-content: end;
}

.form-added .button-submit button {
  margin-top: 10px;
  padding: 8px;
  width: 25%;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.form-added .button-submit button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
/* End Of Added Project */

/* Card Project */
.container-card {
  margin: 90px auto;
  padding: 100px;
  display: grid;
  grid-template-columns: repeat(3, 0.4fr);
  position: relative;
}

.project-card h1 {
  margin: 70px auto;
  padding: 20px;
  text-align: center;
  font-weight: 800;
}

.container-card .card {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 10px;
  width: 550px;
  border-radius: 8px;
  box-shadow: 0 0 15px #cecece;
}

.container-card .card .image-project img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 300px;
}

.container-card .card .title-and-duration {
  margin-bottom: 20px;
}

.container-card .card .title-and-duration p {
  color:#B2B7B9;
}

.container-card .card .description-project {
  margin-bottom: 20px;
}

.container-card .card .description-project p {
  font-size: 15px;
  text-align: justify;
}

.container-card .card .tech-project {
  margin-bottom: 20px;
}

.container-card .card .tech-project i {
  font-size: 28px;
}

.container-card .card .button-group {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 8px;
}

.container-card .card .button-group button {
  padding: 8px 20px;
  width: 140px;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.container-card .card .button-group button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
/* End Of Card Project */

@media only screen and (max-width: 1350px) {
  #btn-barsMenu {
    display: block;
    cursor: pointer;
  }

  .item-collapse {
    display: none;
  }

  .container-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    position: relative;
  }

  .container-card .card {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 10px;
    width: 470px;
    border-radius: 8px;
    box-shadow: 0 0 15px #cecece;
  }
}

@media only screen and (max-width: 820px) {
  .container-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1em;
    position: relative;
  }

  .container-card .card {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 10px;
    width: 550px;
    border-radius: 8px;
    box-shadow: 0 0 15px #cecece;
  }
}